* {
    margin: 0;
    padding: 0;
    
}


body {
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    background: #ddd5cc;
}

.barra-sup{
    max-width: 100%;
    background: rgb(255, 255, 255);
    
    width: 100%;
    height: 3.5rem;

}

.barra-sup-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.barra-sup img{
    max-width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 0.5rem;

}

header{
    background-color: wheat;
    margin: 0;
    padding: 6.5rem;
}

/** barra de navegção **/
#logo h1{
    text-decoration: none;
    color: #DD2803;
    font-size: xx-large;
}

a{
    text-decoration: none;
}

#menu a, 
.login{
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    
}

a .branco{
    color:white;
    padding: 50px;
}


#navegacao {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6.5rem;
 
    background: #ffffff;
    
    top: 0;
    box-shadow: 1px 0px 23px 7 px #5c5f30;
}

#area{
    
    width: 90%;
    margin: 0 auto;

}

#logo{
    float: left;
    margin-top: 10px;
    font-size: medium;
}

.preto{
    color: rgb(0, 0, 0);
}

#menu{
   float: right; 
   padding:10px 20px;
   margin-top: 5px;
}

/** area principal **/

.area-principal{
    width: 830px;
    height: 1200px;
    margin: auto;
    margin-bottom: 10px;
}

.imagem-principal{
    text-align: center;
    margin-top: 5px;
}

.imagem-principal figure img{
    text-align: center;
    width: 800px;
    height: 300px;
}

.recepcao{
    
    text-align: center;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.barra{
    border: 2px solid white;
    width: 790px;
    margin: auto;
}

.img-postagem{
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    float: left;
    border-radius: 50px;
    border-style: groove;
}

.postagem{
    padding-top: 50px;
    margin: 0 auto;
}



/** footer **/

footer{
    width: 100%;
    height: 100px;
    background: #ee7840;
    bottom: 0;

}

/** classes **/
/** classes **/