* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f79d65;
}

a{
    text-decoration: none;
    color: black;
}

a .branco{
    color:white;
    padding: 10px;
}

/** barra de navegção **/
header{
    margin-bottom: 100px;
}

#navegacao {
    color: blanchedalmond;
    background: #f04d30;
    height: 55px;
    width: 100%;
    top: 0;
}

#area{
    width: 800px;
    margin: 0 auto;

}

#logo{
    float: left;
    margin-top: 10px;
    
}

.branco{
    color: white;
}

#menu{
   float: right; 
   padding:10px 20px;
   margin-top: 5px;
}

/** area principal **/

.area-principal{
    border: 1px solid red;
    width: 820px;
    height: 1000px;
    margin: auto;
}

.imagem-principal{
    text-align: center;
    margin-top: 5px;
}

.imagem-principal figure img{
    text-align: center;
    width: 800px;
    height: 300px;
}

.recepcao{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

.barra{
    border: 2px solid white;
    width: 790px;
    margin: auto;
}

.img-postagem{
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    float: left;
    border-radius: 50px;
}

.postagem{
    padding-top: 20px;
    margin: 0 auto;
}






/** classes **/
/** classes **/
/** classes **/