*{
    padding: 0;
    margin: 0;
}


body {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f79d65;
}

a{
    text-decoration: none;
    color: black;
}

a .branco{
    color:white;
    padding: 10px;
}

/** barra de navegção **/
header{
    margin-bottom: 100px;
}

#navegacao {
    color: blanchedalmond;
    background: #f04d30;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

#area{
    width: 720px;
    margin: 0 auto;
}

#logo{
    float: left;
    
}

.branco{
    color: white;
}

#menu{
   float: right; 
   padding:10px 0px;
   margin: 0px;
}

form{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 10vh;
    justify-content: center;
}

.grid-main{
    justify-content: center;
}

.grid-container{ 
    padding: 5vh 0;
    justify-content: center;
    display: grid;
    width: 60vh;
    height: 50vh;
    border: 1px solid whitesmoke;
    box-shadow: 5px 5px 30px 0.1px;
    background-color: whitesmoke;
    margin: auto;
}

.grid-container .submit{
    background-color: green;
    border: none;

}